main.pdf
main.tex
fourierchart.png
Assignment 1/main.aux
Assignment 1/main.fdb_latexmk
Assignment 1/main.fls
Assignment 1/main.log
Assignment 1/main.out
Assignment 1/main.synctex.gz
Assignment 1/main.toc
